

//=============================
// footer Style One
//=============================
.footer-style-one {
	position: relative;
	background: var(--theme-color3);
	padding: 120px 0 0 0;
	.footer-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 72px;
		.title {
			color: var(--theme-color-white);
			letter-spacing: -0.04em;
			margin-bottom: 0;
			max-width: 1028px;
		}
		.btn-get-in {
			align-items: center;
			background: var(--theme-color1);
			border-radius: 50%;
			color: var(--theme-color1-text-color);
			display: flex;
			font-size: 16px;
			font-weight: 600;
			flex-shrink: 0;
			height: 150px;
			justify-content: center;
			line-height: 20px;
			position: relative;
			text-align: center;
			width: 150px;
	    @include media-breakpoint-down(sm){
	    	display: none;
	    }
      &:hover {
        &:before {
          transform: scale(0.8);
        }
        &:after {
          transform: scale(0.6);
        }
      }
      &:before {
        width: 100%;
        height: 100%;
        background-color: rgba(12, 47, 37, 0.2);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        transform: scale(0);
        border-radius: 50%;
        @include transition(all 600ms ease);
      }
      &:after {
        width: 100%;
        height: 100%;
        background-color: rgba(12, 47, 37, 0.4);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        transform: scale(0);
        border-radius: 50%;
        @include transition(all 400ms ease);
      }
		}
	}
	.footer-lower{
		.image{
			border-radius: 20px;
			max-width: 276px;
			overflow: hidden;
			width: 100%;
      @include media-breakpoint-down(xl){
      	display: none;
      }
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
	.footer-info-outer {
    @include media-breakpoint-down(md){
    	margin-bottom: 50px;
    }
		.footer-info {
			margin-bottom: 22px;
			.info-title {
				color: #fff;
				letter-spacing: -0.02em;
				margin-bottom: 15px;
			}
			.text {
				color: #AEC7B3;
				font-weight: 500;
				letter-spacing: -0.02em;
				max-width: 202px;
				text-transform: capitalize;
			}
			.info {
				align-items: start;
				display: flex;
				flex-direction: column;
				a {
					font-weight: 500;
				}
			}
		}
	}
	.footer-widget-items {
    @include media-breakpoint-down(md){
    	margin-bottom: 50px;
    }
	}
	.widget-title {
		color: #fff;
		margin-bottom: 15px;
		letter-spacing: -0.02em;
	}
	.user-links {
		li {
			line-height: 1;
			font-weight: 500;
			color: #aec7b3;
			text-transform: capitalize;
			margin-bottom: 14px;
			a {
				line-height: 1;
				color: #aec7b3;
				position: relative;
				&:hover {
					&:before {
						width: 100%;
					}
				}
				&:before {
					content: '';
					position: absolute;
					background-color: var(--theme-color1);
					left: 0;
					bottom: 0;
					width: 0;
					height: 1px;
					@include transition(all 300ms ease);
				}
			}
		}
	}
	.footer-contact-items {
		form {
			.form-group {
				display: flex;
				align-items: center;
			}
			.email {
				background: rgba(255, 255, 255, 0.16);
				border: 1px solid rgba(255, 255, 255, 0.1);
				border-radius: 40px;
				font-weight: 500;
				font-size: 16px;
				letter-spacing: -0.02em;
				height: 56px;
				line-height: 56px;
				padding: 0 20px;
				width: 100%;
				max-width: 368px;
			}
			button {
				min-width: 56px;
				min-height: 56px;
				line-height: 56px;
				text-align: center;
				border-radius: 50%;
				font-size: 20px;
				background-color: var(--theme-color1);
				color: var(--theme-color1-text-color);
			}
			.form-check {
				display: flex;
				align-items: center;
				padding: 0;
				gap: 9px;
				margin-top: 20px;
				.form-check-input {
					border: 1px solid rgba(255, 255, 255, 0.6);
					background-color: transparent;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					box-shadow: none;
					position: relative;
					margin-left: 0;
					margin: 0;
				}
				.form-check-label {
					font-size: 16px;
					font-weight: 500;
					letter-spacing: -0.02em;
					color: #fff;
					line-height: 1;
				}
			}
		}
	}
	.lower-outer {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding-top: 59px;
	}
	.lower-bottom {
		display: flex;
		align-items: end;
		justify-content: space-between;
	  margin-top: 52px;
	  @media (max-width: 335.98px){
	  	.logo{
	  		margin-bottom: 20px;
	  	}
	  	flex-wrap: wrap;
	  }
	}
	.footer-social {
		.social-icon {
			display: flex;
			align-items: center;
			gap: 10px;
			a {
				width: 36px;
				height: 36px;
				line-height: 36px;
				border-radius: 50%;
				text-align: center;
				background: rgba(255, 255, 255, 0.1);
				display: inline-block;
				color: #fff;
			}
		}
	}
	.footer-bottom {
		display: flex;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding: 30px 0;
		margin-top: 10px;
		p {
			font-size: 16px;
			letter-spacing: -0.02em;
			font-weight: 500;
			color: #fff;
			margin: 0;
		}
		.footer-menu {
			display: flex;
			align-items: center;
			gap: 66px;
			margin: 0;
		  @media (max-width: 475.98px){
		  	gap: 15px;
		  }
		  @media (max-width: 355.98px){
		  	flex-wrap: wrap;
		  }
			li {
				a {
					font-size: 16px;
					letter-spacing: -0.03em;
					font-weight: 500;
					color: #fff;
				}
			}
		}
	}
}
